[flake8]
max-line-length = 120
ignore =
    # comparison to None should be 'if cond is None:'
    E711,
    # comparison to True should be 'if cond is True:' or 'if cond:'
    E712,
    # line break before binary operator
    W503
per-file-ignores =
    # flake8 is just plain wrong here, contradicting black
    .github/generate-job-matrix.py:E225,E231
