# Project information
site_name: "mp-units"
site_description: "The quantities and units library for C++"
site_url: https://mpusz.github.io/mp-units
site_author: "mp-units Team"

# Repository
repo_name: mpusz/mp-units
repo_url: https://github.com/mpusz/mp-units

# Copyright
copyright: Copyright &copy; 2018-2023 Mateusz Pusz

# Configuration
theme:
  name: material
  logo: assets/images/mp-units-transparent-white.svg
  favicon: assets/images/mp-units-color.svg
  custom_dir: docs/.overrides
  features:
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    # - navigation.expand
    - navigation.indexes
    # - navigation.sections
    - navigation.tabs
    - navigation.footer
    - navigation.top
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    - toc.integrate
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: custom
      accent: custom
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: custom
      toggle:
        icon: material/weather-night
        name: Switch to system preference
  font:
    text: Roboto
    code: Roboto Mono

# Plugins
plugins:
  - blog
  - exclude:
      glob:
        - api_reference/src/*
  - rss:
      match_path: blog/posts/.*
      date_from_meta:
        as_creation: date
      categories:
        - categories
        - tags
  - search
  - social:
      enabled: !ENV [CI, false]
      cards_layout_options:
        background_color: "#00599c"
  - tags

# Customization
extra:
  version:
    provider: mike

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/ce_embed.js
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - toc:
      permalink: true

# Page tree
nav:
  - Home: index.md
  - Getting Started:
      - Introduction: getting_started/introduction.md
      - Quick Start: getting_started/quick_start.md
      - Look and Feel: getting_started/look_and_feel.md
      - Project Structure: getting_started/project_structure.md
      - C++ compiler support (API/ABI): getting_started/cpp_compiler_support.md
      - Installation and Usage: getting_started/installation_and_usage.md
      - Contributing: getting_started/contributing.md
      - FAQ: getting_started/faq.md
  - Tutorials:
      - Tutorials: tutorials/index.md
      - "Tutorial 1: Refactor to Strong Types": tutorials/refactor_to_strong_types.md
      - "Tutorial 2: Refactor to Generic, Type-Safe Interfaces": tutorials/generic_type_safe_interfaces.md
      - "Tutorial 3: Extracting Numeric Values": tutorials/extracting_numeric_values.md
      - "Tutorial 4: Working with Temperatures": tutorials/working_with_temperatures.md
      - "Tutorial 5: Affine Spaces and Reference Origins": tutorials/affine_spaces.md
      - "Tutorial 6: Interop with std::chrono": tutorials/interop_with_std_chrono.md
      - "Tutorial 7: Custom Units for Dimensionless Counters": tutorials/custom_dimensionless_units.md
      - "Tutorial 8: Typed Quantities of the Same Kind": tutorials/typed_quantities_same_kind.md
      - "Tutorial 9: Custom Quantity Specifications": tutorials/custom_quantity_specifications.md
      - "Tutorial 10: Custom Base Dimensions": tutorials/custom_base_dimensions.md
      - "Tutorial 11: Preventing Confusion with Distinct Kinds": tutorials/distinct_quantity_kinds.md
      - "Tutorial 12: Faster-than-Lightspeed Constants": tutorials/faster_than_lightspeed_constants.md
  - User's Guide:
      - Terms and Definitions: users_guide/terms_and_definitions.md
      - Framework Basics:
          - Interface Introduction: users_guide/framework_basics/interface_introduction.md
          - Design Overview: users_guide/framework_basics/design_overview.md
          - Systems of Quantities: users_guide/framework_basics/systems_of_quantities.md
          - Systems of Units: users_guide/framework_basics/systems_of_units.md
          - Simple and Typed Quantities: users_guide/framework_basics/simple_and_typed_quantities.md
          - Value Conversions: users_guide/framework_basics/value_conversions.md
          - Character of a Quantity: users_guide/framework_basics/character_of_a_quantity.md
          - Dimensionless Quantities: users_guide/framework_basics/dimensionless_quantities.md
          - Quantity Arithmetics: users_guide/framework_basics/quantity_arithmetics.md
          - Generic Interfaces: users_guide/framework_basics/generic_interfaces.md
          - Faster-than-lightspeed Constants: users_guide/framework_basics/faster_than_lightspeed_constants.md
          - The Affine Space: users_guide/framework_basics/the_affine_space.md
          - Type Introspection: users_guide/framework_basics/type_introspection.md
          - Concepts: users_guide/framework_basics/concepts.md
          - Text Output: users_guide/framework_basics/text_output.md
      - Systems:
          - Introduction: users_guide/systems/introduction.md
          - International System of Quantities (ISQ): users_guide/systems/isq.md
          - International System of Units (SI): users_guide/systems/si.md
          - Centimetre-Gram-Second (CGS) System: users_guide/systems/cgs.md
          - Yard-Pound Systems: users_guide/systems/yard_pound.md
          - Strong Angular System: users_guide/systems/strong_angular_system.md
          - Natural Units: users_guide/systems/natural_units.md
  - How-to Guides:
      - Pure Dimensional Analysis: how_to_guides/pure_dimensional_analysis.md
      - Working with Legacy Interfaces: how_to_guides/working_with_legacy_interfaces.md
      - Using Custom Representation Types: how_to_guides/using_custom_representation_types.md
      - Interoperability with Other Libraries: how_to_guides/interoperability_with_other_libraries.md
      - Wide Compatibility: how_to_guides/wide_compatibility.md
  - Examples:
      - Examples: examples/index.md
      - Beginner:
          - hello_units: examples/hello_units.md
          - avg_speed: examples/avg_speed.md
          - si_constants: examples/si_constants.md
      - Intermediate:
          - foot_pound_second: examples/foot_pound_second.md
          - spectroscopy_units: examples/spectroscopy_units.md
          - storage_tank: examples/storage_tank.md
          - capacitor_time_curve: examples/capacitor_time_curve.md
          - hw_voltage: examples/hw_voltage.md
          - measurement: examples/measurement.md
          - currency: examples/currency.md
          - strong_angular_quantities: examples/strong_angular_quantities.md
          - total_energy: examples/total_energy.md
      - Advanced:
          - unmanned_aerial_vehicle: examples/unmanned_aerial_vehicle.md
          - glide_computer: examples/glide_computer.md
          - kalman_filter: examples/kalman_filter.md
  - Reference:
      - Cheat Sheet: reference/cheat_sheet.md
      - Supported Systems Overview: reference/systems_overview.md
      - API Reference: reference/api_reference.md
      - Glossary: reference/glossary.md
      - Bibliography: reference/bibliography.md
  - Blog:
      - blog/index.md
  - Release Notes: release_notes.md
