# Project information
site_name: "The mp-units library"
site_description: "A Physical Quantities and Units library for C++"
site_url: https://mpusz.github.io/mp-units
site_author: "mp-units Team"

# Repository
repo_name: mpusz/mp-units
repo_url: https://github.com/mpusz/mp-units

# Copyright
copyright: Copyright &copy; 2018-2023 Mateusz Pusz

# Configuration
theme:
  name: material
  custom_dir: docs/.overrides
  features:
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    # - navigation.expand
    - navigation.indexes
    - navigation.sections
    # - navigation.tabs
    - navigation.footer
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    - toc.integrate
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono

# Customization
extra:
  version:
    provider: mike

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - toc:
      permalink: true

# Page tree
nav:
  - Home: index.md
  - Getting Started:
      - Introduction: getting_started/introduction.md
      - Code Example: getting_started/code_example.md
      - Quick Start: getting_started/quick_start.md
      - Installation and Usage: getting_started/installation_and_usage.md
      - FAQ: getting_started/faq.md
  - User's Guide:
      - Terms and Definitions: users_guide/terms_and_definitions.md
      - Framework Basics:
          - Basic Concepts: users_guide/framework_basics/basic_concepts.md
          - Interface Introduction: users_guide/framework_basics/interface_introduction.md
          - Systems of Quantities: users_guide/framework_basics/systems_of_quantities.md
          - Systems of Units: users_guide/framework_basics/systems_of_units.md
          - Simple and Typed Quantities: users_guide/framework_basics/simple_and_typed_quantities.md
          - Value Conversions: users_guide/framework_basics/value_conversions.md
          - Quantity Arithmetics: users_guide/framework_basics/quantity_arithmetics.md
          - Quantities of Different Characters: users_guide/framework_basics/quantities_of_different_characters.md
          - Faster than Lightspeed Constants: users_guide/framework_basics/faster_than_lightspeed_constants.md
          - Dimensionless Quantities: users_guide/framework_basics/dimensionless_quantities.md
          - The Affine Space: users_guide/framework_basics/the_affine_space.md
          - Obtaining Metadata: users_guide/framework_basics/obtaining_metadata.md
          - Text Output: users_guide/framework_basics/text_output.md
      - Defining Systems:
          - Introduction: users_guide/defining_systems/introduction.md
          - International System of Quantities (ISQ): users_guide/defining_systems/isq.md
          - International System of Units (SI): users_guide/defining_systems/si.md
          - Strong Angular System: users_guide/defining_systems/strong_angular_system.md
          - Natural Units: users_guide/defining_systems/natural_units.md
      - Use Cases:
          - Pure Dimensional Analysis: users_guide/use_cases/pure_dimensional_analysis.md
          - Working with Legacy Interfaces: users_guide/use_cases/working_with_legacy_interfaces.md
          - Using Custom Representation Types: users_guide/use_cases/using_custom_representation_types.md
          - Interoperability with Other Units Libraries: users_guide/use_cases/interoperability_with_other_units_libraries.md
          - Extending the Library: users_guide/use_cases/extending_the_library.md
      - Examples:
          - hello_units: users_guide/examples/hello_units.md
  - Library Reference:
      - Core Library: library_reference/core_library.md
      - Magnitudes: library_reference/magnitudes.md
  - Appendix:
      - Glossary: appendix/glossary.md
      - Mismeasure for Measure: appendix/mismeasure_for_measure.md
      - Release Notes: appendix/release_notes.md
      - References: appendix/references.md
