div.example { display: none; }
div.note { display: none; }

a.footnotenum { display: none; }
div.footnote { display: none; }
div.footnoteSeparator { display: none; }
.footnoteref { display: none; }

div.nonNormativeOnly { display: none; }
